# browser-manager-server
BROWSER_MANAGER_HOST=127.0.0.1
BROWSER_MANAGER_PORT=5000
MAX_BROWSERS=10
BROWSER_TIMEOUT=1800000

# cloud-browser-server
CLOUD_BROWSER_SERVER_HOST=127.0.0.1
CLOUD_BROWSER_SERVER_PORT=4000
BROWSER_ENDPOINT_HOST=127.0.0.1
BROWSER_ENDPOINT_PORT=5000
SCREENCAST_QUALITY=60
SCREENCAST_EVERY_NTH_FRAME=3

# cloud-browser-sdk
CLOUD_BROWSER_SDK_HOST=127.0.0.1
CLOUD_BROWSER_SDK_PORT=3000
VITE_SDK_SERVER_URL=http://127.0.0.1:4000
VITE_API_BASE_URL=http://127.0.0.1:4000
